* {
    margin: 0;
    padding: 0;
}
body, input {
    font: 71%/1.5 Verdana, Sans-Serif;
    background: #eee;
}
.numpad_wrapper {
    margin: 100px auto;
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.numpad_input{
    float: left;
    margin: 2.5px;
    width: 97%;
    height: 60px;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    background: #fff;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
}
.numpad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.numpad__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.numpad__row_btn, .numpad_options, .admin-plus_amount, .admin-minus_amount {
    float: left;
    margin: 2.5px;
    width: 60px;
    height: 60px;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    background: #fff;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
}
.numpad_options {
    position: absolute;
    margin-left: 270px;
}
.admin-plus_amount{
    position: absolute;
    margin-left: 270px;
    margin-top: 69px;
    opacity: 0.33;
}
.admin-minus_amount{
    position: absolute;
    margin-left: 270px;
    margin-top: 136px;
    opacity: 0.33;
}
.admin-fill_accept{
    display: none;
    position: absolute;
    margin-left: 270px;
    margin-top: 203px;
    float: left;
    width: 60px;
    height: 60px;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    background: #15ff00;
    border: 1px solid #00b900;
    color:#fff;
    border-radius: 5px;
}
.numpad__row_btn:hover {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #e5e5e5;
    cursor: pointer;
}
.numpad_options:hover {
    border-color: #e5e5e5;
    cursor: pointer;
    margin-top: 3px;
    margin-left: 271px;
}
.admin-plus_amount:hover {
    border-color: #e5e5e5;
    cursor: pointer;
    margin-top: 70px;
    margin-left: 271px;
}
.admin-minus_amount:hover {
    border-color: #e5e5e5;
    cursor: pointer;
    margin-top: 137px;
    margin-left: 271px;
}
.admin-fill_accept:hover {
    margin-left: 271px;
    margin-top: 204px;
    border-color: #008500;
    cursor: pointer;
}
.admin-clue{
    position: absolute;
    font-size: 24px;
    margin-top: 15.5px;
    margin-left: 136px;
    display: none;
}
.numpad__row_btn-take{
    display: none;
    float: left;
    margin: 2.5px;
    width: 97%;
    height: 60px;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    background: #15ff00;
    border: 1px solid #00b900;
    color:#fff;
    border-radius: 5px;
}
.numpad__row_btn-take:hover{
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #008500;
    cursor: pointer;
}
.options_alert{
    position: absolute;
    z-index: 999;
    font-size: 10px;
    color: rgba(112, 112, 112, 0.63);
    margin-top: 4px;
    margin-left: 5px;
}